---
layout: default
title: Tulisan
---
<div class="section-title">Tulisan</div>
<div class="article-grid">
    {% for post in site.posts %}
    {% if post.category == "Tulisan" %}
    <article class="article">
        <div class="article-image" style="background-image: url('{{ post.image | relative_url }}');"></div>
        <div class="category">{{ post.category }}</div>
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
        <div class="meta">Alfiandi · {{ post.date | date: "%-d %B %Y" }}</div>
    </article>
    {% endif %}
    {% endfor %}
</div>
